<%- include ("partials/header") %>

<h1>This will display all teachers</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Class</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% allTeachers.forEach((teacher)=>{ %>
            <tr>
                <td><%= teacher.FirstName %></td>
                <td><%= teacher.MiddleName %></td>
                <td><%= teacher.LastName %></td>
                <td><%= teacher.Class %></td>
                <td><%= teacher.username %></td>
                <td>
                    <form style="display: inline;" id="camp-del-form" action="/teachers/<%= teacher._id %>/delete?_method=delete" method="post">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%-include ("partials/footer") %> 